<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzzyAIConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AzzyAIConfig.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ShowMercenary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHomunculus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomunculusType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SHomunculusType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="HomOptionColWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MercOptionColWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HomValueColWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MercValueColWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </AzzyAIConfig.Properties.Settings>
    </userSettings>
</configuration>